.skeleton-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .skeleton {
    margin: 10px 0;
    height: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
    animation: skeleton-loading 1s ease-in-out infinite;
  }
  
  @keyframes skeleton-loading {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.6;
    }
  }
  